<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Burn One Million Words</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js" type="text/javascript"></script>
</head>
<body ng-controller="wordCountroller">
	<h3>{{greeting}}</h3>

	<form ng-submit="submitCount()">
		<input ng-model="newCount.user" placeholder="Your name">
		<input ng-model="newCount.numWords" placeholder="How many words today?">
		<input ng-model="newCount.date" placeholder="Date?">
		<input type="date"
       ng-model="inputdate">


		<div>{{month}}</div>
		<div>{{day}}</div>
		<div>{{year}}</div>
		<p ng-bind="today | date:'MM/dd/yyyy'"></p>
		<input type="submit">

	</form>

	<div>
		<ul>
			<li ng-repeat="count in wordcounts">
				{{count.user}}
				{{inputdate}}
			</li>
				
		</ul>
	</div>

<script src="/js/main.js" type="text/javascript"></script>



</body>
</html>